Package: choncloud
Version: 0.0.1
Priority:
Architecture: all
Essential:
Depends: chonos-sysconfig, chonos-embeddedmas, contextnet-server
Pre-depends: chonos-ddnsmng, openssh-server, openssh-sftp-server, systemd-timesyncd
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts: chonide, chonos
Replaces:
Provides:
Description: Meta package that provide an ChonOS Cloud System.
